*.class
*.ctxt
*.bluej

#Include the one IO.class
!/IF-LW6-D-Switch-Anweisung/IO.class

IF-LW1-E-Kapitel-6-Schleifen/package.bluej
IF-LW1-D-Eigenes-Beispiel-Vererbung\package.bluej
IF-LW1-E-Kapitel-6-Schleifen/package.bluej
