*.class
*.ctxt
*.bluej
__SHELL0.java
#Include the one IO.class
!/IF-LW6-D-Switch-Anweisung/IO.class
IF-LW1-E-Kapitel-6-Schleifen/package.bluej
IF-LW1-D-Eigenes-Beispiel-Vererbung\package.bluej
IF-LW1-E-Kapitel-6-Schleifen/package.bluej
IF-LW6-D-Switch-Anweisung/package.bluej
.mono/registry/CurrentUser/software/microsoft/csdevkit/v1/pids/3715_133592010380441595/values.xml
.mono/